<div class='index-container'>
<div class="three-divs"></div>
<div class="threediv-1">
<% @cryptids.each do |cryptid| %> 
    <div class='index-tile'>
    <h3><%= link_to cryptid.name, cryptid_path(cryptid) %></h3>
    </div>  
    <% end %> 
</div>

</div>