<div class="three-divs">
<div class="threedivs-1">
<% @cryptids.each do |cryptid| %> 
    <div class='cryptid-index-tile'>
    <h3><%= link_to cryptid.name, cryptid_path(cryptid) %></h3>
    </div> 
    <% end %> 
</div>

</div>
