<div class="three-divs">

<div class='threedivs-1'>
 <%= render 'map'%> 
</div>

<div class='threedivs-2'>

<h1> Users: </h1>

  <% @users.each do |user| %>
    <div> <%= link_to user.name, user_path(user)  %> | Years Experience: <%= user.years_experience  %> </div>
  <% end  %>

</div>

</div>


