<div class="three-divs">
<div class="threedivs-1">
<h1> Edit Expedition: </h1>

<%= render 'form' %>

<hr>
<%= button_to "Delete Expedition", expedition_path(@expedition), method: :delete %>
</div>
</div>
