<h1> <%= @expedition.region %> </h1> 
<h4> <%= @expedition.season %> - <%= @expedition.days %> Days</h4>
<ul><% @expedition.sightings.each do |sighting| %>
<li><%= link_to sighting.cryptid.name, cryptid_path(sighting.cryptid.id) %></li> 
<% end %>
</ul>

