/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "pickadate/default";
@import "pickadate/default.date";  
@import "pickadate/default.time"; 

/* CSS HEX */
--ocean-green: #43c197ff;
/* ^font color */
--illuminating-emerald: #3a9687ff;
/* ^ link color */
--ming: #306b76ff;
/* ^index tile */
--indigo-dye: #264065ff;
/* ^index container */
--midnight-blue: #1c1554ff;
/* ^background color */


body {
  background-color: #1c1554ff;
  color: #43c197ff;
}

a {
  color: #3a9687ff;
  text-decoration: none;
}

a:hover {
  color: whitesmoke;
  transition: 2.5s;
}

h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color:rgba(67, 193, 151, 1);
}

h2 {
  display: block;
  font-size: 1em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color:rgba(67, 193, 151, 1);
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

   /* ---------------------- CSS for Navbar and Banner -------------------- */
   
.banner {
  width: 1200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  background-image: url("Forest_trees_dark_low.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px auto;
}
 
#banner-header {
  margin: 0px;
  font-family: fantasy;
  font-size: 5em;
  padding: 30px;
  letter-spacing: 25px;
  color: #996600;
  text-shadow: 2px 2px 4px #000000;
}
  
.nav {
  background-color: rgba(48, 107, 118, 1);
  color: #3a9687ff;
  font-weight: 800;
  height: 40px;
  width: 1200px;
  margin: 0px auto;
  padding: 0px 20px;
  border-radius: 0px 0px 10px 10px;
}
   
.nav li {
  display: inline-block;
  line-height: 40px;
  padding: 0px 5px 0px 5px;
  margin: 0px;
}
   
.nav li a:hover {
  color: whitesmoke;
  transition: 2.5s;
}
   
.nav li a {
  text-decoration: none;
  color: #3a9687ff;
  font-weight: 800;
}
   
.right {
  float: right;
}
 
  /* --------------CSS for background on every page --------------------- */
 
.container {
  margin: 25px auto;
  max-width: 87%;
   /* background-color: rgba(40, 54, 24, 1); */
  padding: 10px;
  border-radius: 25px;
  height: 100%;
}
 
 /* ------------- CSS for Forms ------------ */
 
.form-container {
  max-width: 60%;
  margin: 0px auto;
   /* background-color: rgba(62, 7, 79, 0.2); */
  padding: 20px;
  border-radius: 25px;
  text-align: left;
  text-transform:uppercase;
}
 
.form-input {
  margin-top: 10px;
}

.form-btn {
  display:inline-block;
  padding:0.7em 1.4em;
  margin:0 0.3em 0.3em 0;
  border-radius:0.15em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  text-transform:uppercase;
  font-weight:400;
  color:#FFFFFF;
  background-color:#264065ff;
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  text-align:center;
  position:relative;
}
.form-btn:active {
  top:0.1em;
}

   /*------------------------Index Page CSS ----------------------  */
.three-divs {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
      
.threedivs-1 { 
  grid-area: 1 / 1 / 2 / 2;
  height: auto; 
}
.threedivs-2 { 
  grid-area: 2 / 1 / 3 / 2; 
  height: auto; 
}
.threedivs-3 { grid-area: 3 / 1 / 4 / 2; }
  
.two-divs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 0px;
  padding: 10px;
  align-content: center;
  }
  
 .index-container {
  background-color: #264065;
  display: flexbox;
  flex-flow: row wrap;
  padding: 25px;
  margin: 30px auto;
  width: 1200px;
  margin: 30px auto;
  border-radius: 25px;
  align-content: space-around;
}
 
.cryptid-index-tile {
  background-color: #306b76;
  text-align: center;
  padding: 30px;
  margin: 50px 10px;
  border-radius: 15px 50px;
  width: calc((1000px / 3));
  height: 100px;
  display: inline-block;
}
 
.cryptid-index-tile:hover {
  background-color: darkgrey;
  color: whitesmoke;
  transition: 2s;
}
 
.user-container {
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
}

.user-tile {
  background-color: #306b76;
  text-align: left;
  margin: 30px;
  padding: 20px;
  border-radius: 15px;
  max-width: 350px;

}

.user-tile:hover {
  background-color: darkgrey;
  color: whitesmoke;
  transition: 2s;
}



@import "compass/css3";

.btn {
  display: inline-block;
  padding: 0.5em 1em;
  background: #808080;
  color: #fff;
  margin: 1em;
  &:hover,
  &:focus {
    color: #fff;
    background: #333;
  }
}
 
.static-img {
  display: block;
}
 
iframe {
  max-width: 100%;
}
 /* From https://codepen.io/chriscoyier/full/kycDp */
.map-container {
  width: 100%;
  margin: 0 auto;
  height: 0;
  padding-top: 38%;
  position: relative;
  display: none; /* Hide for small screens */
  iframe {
    width: 100%;
    height: 100%; /* had to specify height/width */
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}
 
 /* Medium Screens */
 @media all and (min-width: 34.375em) {
  .map-container {
    display: block;
  }
  .static-img {
    display: none;
  }
}
 